.inner-explain-content {
  font-size: 36px;
  padding-left: 60px;
  margin: 20px;
}

.news-img {
  width: 550px;
  margin-left: 200px;
}

.newspaper-img {
  width: 600px;
  display: none;
  margin-left: 150px;
}
