.score-content {
  min-width: 360px;
  width: 360px;
  background-color: black;
}

.gauge-box {
  float: left;
  height: 520px;
  width: 180px;
  margin-top: 30px;
}

.gauge-p {
  height: 81px;
  font-size: 24px;
  font-style: bold;
  color: white;
  text-align: center;
}

.gauge-p-black {
  height: 81px;
  font-size: 24px;
  font-style: bold;
  text-align: center;
  float: right;
  margin-top: 12px;
  margin-right: 100px;
}

.gauge-bar {
  width: 50px;
  height: 500px;
  float: left;
  margin-top: 15px;
}

.gauge-info {
  color: white;
  font-size: 16px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: black;
}

.gauge-info-black {
  font-size: 16px;
  border-radius: 50%;
  border: 2px solid black;
}

.echo-color {
  background: linear-gradient(to bottom, #ff0911 0%, #e79038 50%, #ffda65 100%);
}

.reliability-color {
  background: linear-gradient(to bottom, #0500cc 0%, #4986e9 50%, #9fc5e8 100%);
  margin-left: 65px;
}

.bar-pointer-right {
  float: left;
  width: 0px;
  height: 0px;
  border-top: 15px solid transparent;
  border-right: 30px solid white;
  border-bottom: 15px solid transparent;
  position: relative;
}

.bar-pointer-left {
  float: left;
  width: 0px;
  height: 0px;
  border-top: 15px solid transparent;
  border-left: 30px solid white;
  border-bottom: 15px solid transparent;
  position: relative;
  margin-left: 30px;
}

.remain-box {
  border: gray dashed 10px;
  margin: 30px 50px 0px 50px;
  padding: 20px;
  height: 30px;
}

.score-700 {
  padding-top: 113px;
}

.score-350 {
  padding-top: 68px;
}

.echo-gauge-title {
  margin-bottom: 12px;
}

.reliability-gauge-title {
  padding-top: 12px;
}

.pop-up {
  display: none;
  position: absolute;
  width: 400px;
  height: 170px;
  top: 30px;
  left: 135px;
  background-color: rgb(255, 251, 198);
  border: 6px solid skyblue;
  padding: 10px 20px 15px 20px;
  p {
    font-size: 20px;
  }
}

.strong-pop-up {
  display: none;
  position: absolute;
  width: 900px;
  top: 60px;
  left: 340px;
  background-color: rgb(255, 251, 198);
  border: 6px solid skyblue;
  padding: 10px 20px 15px 20px;
  p {
    font-size: 28px;
  }

  .bold-p {
    font-size: 32px;
    font-weight: bold;
  }
}
