.effect-response {
  display: none;
  width: 0px;
  button {
    width: 500px;
    margin-left: 0px;
  }
}

.keyword-img {
  margin-left: 36px;
  width: 90%;
}

.effect-response-div {
  position: absolute;
}
