{% load static %}
<div id="echochamber1" class="survey-container-div" style="display: none">
    <div>
        <p class="survey-p-guide" id="echo-question1">How often do you read something you <span class="highlight">DISAGREE</span> with?</p>
        <div class="survey-div" id="echo1">
            <div class="radio-box">
                <input type="radio" name="echo1" id="echo1-1" value="1"/>
                <label for="echo1-1"><span></span>Almost never</label>
            </div>
            <div class="radio-box">
                <input type="radio" name="echo1" id="echo1-2" value="2"/>
                <label for="echo1-2"><span></span>Rarely</label>
            </div>
            <div class="radio-box">
                <input type="radio" name="echo1" id="echo1-3" value="3"/>
                <label for="echo1-3"><span></span>Sometimes</label>
            </div>
            <div class="radio-box">
                <input type="radio" name="echo1" id="echo1-4" value="4"/>
                <label for="echo1-4"><span></span>Often</label>
            </div>
            <div class="radio-box">
                <input type="radio" name="echo1" id="echo1-5" value="5"/>
                <label for="echo1-5"><span></span>Nearly always</label>
            </div>
        </div>

        <p class="survey-p-guide" id="echo-question2">Have you ever checked a news source that’s <span class="highlight">DIFFERENT</span> from what you normally read?</p>
        <div class="survey-div" id="echo2">
            <div class="radio-box">
                <input type="radio" name="echo2" id="echo2-1" value="1"/>
                <label for="echo2-1"><span></span>Almost never</label>
            </div>
            <div class="radio-box">
                <input type="radio" name="echo2" id="echo2-2" value="2"/>
                <label for="echo2-2"><span></span>Rarely</label>
            </div>
            <div class="radio-box">
                <input type="radio" name="echo2" id="echo2-3" value="3"/>
                <label for="echo2-3"><span></span>Sometimes</label>
            </div>
            <div class="radio-box">
                <input type="radio" name="echo2" id="echo2-4" value="4"/>
                <label for="echo2-4"><span></span>Often</label>
            </div>
            <div class="radio-box">
                <input type="radio" name="echo2" id="echo2-5" value="5"/>
                <label for="echo2-5"><span></span>Nearly always</label>
            </div>
        </div>

        <p class="survey-p-guide" id="echo-question3">Do you try to <span class="highlight">CONFIRM</span> information you found by searching online for another source?</p>
        <div class="survey-div" id="echo3">
            <div class="radio-box">
                <input type="radio" name="echo3" id="echo3-1" value="1"/>
                <label for="echo3-1"><span></span>Almost never</label>
            </div>
            <div class="radio-box">
                <input type="radio" name="echo3" id="echo3-2" value="2"/>
                <label for="echo3-2"><span></span>Rarely</label>
            </div>
            <div class="radio-box">
                <input type="radio" name="echo3" id="echo3-3" value="3"/>
                <label for="echo3-3"><span></span>Sometimes</label>
            </div>
            <div class="radio-box">
                <input type="radio" name="echo3" id="echo3-4" value="4"/>
                <label for="echo3-4"><span></span>Often</label>
            </div>
            <div class="radio-box">
                <input type="radio" name="echo3" id="echo3-5" value="5"/>
                <label for="echo3-5"><span></span>Nearly always</label>
            </div>
        </div>
    </div>
</div>
<div id="echochamber2" class="survey-container-div" style="display: none">
    <div>
        <p class="survey-p-guide" id="echo-question4">Do you try to <span class="highlight">CONFIRM</span> information by checking a major offline news media?</p>
        <div class="survey-div" id="echo4">
            <div class="radio-box">
                <input type="radio" name="echo4" id="echo4-1" value="1"/>
                <label for="echo4-1"><span></span>Almost never</label>
            </div>
            <div class="radio-box">
                <input type="radio" name="echo4" id="echo4-2" value="2"/>
                <label for="echo4-2"><span></span>Rarely</label>
            </div>
            <div class="radio-box">
                <input type="radio" name="echo4" id="echo4-3" value="3"/>
                <label for="echo4-3"><span></span>Sometimes</label>
            </div>
            <div class="radio-box">
                <input type="radio" name="echo4" id="echo4-4" value="4"/>
                <label for="echo4-4"><span></span>Often</label>
            </div>
            <div class="radio-box">
                <input type="radio" name="echo4" id="echo4-5" value="5"/>
                <label for="echo4-5"><span></span>Nearly always</label>
            </div>
        </div>

        <p class="survey-p-guide" id="echo-question5">Thinking about recent searches you have done online using a search engine, how often have you discovered something that <span class="highlight">CHANGED</span> your opinion on an issue?</p>
        <div class="survey-div" id="echo5">
            <div class="radio-box">
                <input type="radio" name="echo5" id="echo5-1" value="1"/>
                <label for="echo5-1"><span></span>Almost never</label>
            </div>
            <div class="radio-box">
                <input type="radio" name="echo5" id="echo5-2" value="2"/>
                <label for="echo5-2"><span></span>Rarely</label>
            </div>
            <div class="radio-box">
                <input type="radio" name="echo5" id="echo5-3" value="3"/>
                <label for="echo5-3"><span></span>Sometimes</label>
            </div>
            <div class="radio-box">
                <input type="radio" name="echo5" id="echo5-4" value="4"/>
                <label for="echo5-4"><span></span>Often</label>
            </div>
            <div class="radio-box">
                <input type="radio" name="echo5" id="echo5-5" value="5"/>
                <label for="echo5-5"><span></span>Nearly always</label>
            </div>
        </div>
    </div>
</div>
</form>