{% extends 'base.html' %}{% load static %} {% block header %}
<script
  type="module"
  src="{% static '/js/scenario/scenario1-game.js' %}"
></script>
{% endblock %} {% block content %}
<form method="POST" name="scenarioForm" action="{% url 'scenario2' %}">
  {% csrf_token %}
  <input type="hidden" name="uid" id="uid" value="{{user_id}}" />
  <input type="hidden" name="playTime" id="playTime" value="" />
  <input type="hidden" name="selectTweet" id="selectTweet" value="" />
  <input type="hidden" name="scenario1" id="scenario1" value="0" />
</form>

<script>
  // User ID 저장하는 Script 추가, views.py에서 user id 값을 식별하여, Feedback test에서 사용.
  const user_id_value = "{{user_id}}";
  localStorage.setItem("user_id", user_id_value);
</script>

{% endblock %}
