{% extends 'base.html' %}{% load static %} {% block header %}
<script
  type="module"
  src="{% static '/js/scenario/scenario3-game.js' %}"
></script>
{% endblock %}{% block content %}
<form method="POST" name="scenarioForm" action="{% url 'postSurvey' %}">
  {% csrf_token %}
  <input type="hidden" name="uid" id="uid" value="{{user_id}}" />
  <input type="hidden" name="playTime" id="playTime" value="" />
  <input type="hidden" name="selectTweet" id="selectTweet" value="" />
  <input type="hidden" name="scenario1" id="scenario1" value="{{scenario1}}" />
  <input type="hidden" name="scenario2" id="scenario2" value="{{scenario2}}" />
  <input type="hidden" name="scenario3" id="scenario3" value="0" />
</form>

<script>
  let temp_uID = localStorage.getItem("user_id");
  document.cookie = "user_key="+temp_uID;
</script>
{% endblock %}
